Server/AssetServerGui/bin/
Server/HttpListenerSettings/bin/
Server/AssetServer/bin/
Library
*.user
*.suo
Temp
obj
*.userprefs
*.pidb
*.csproj
*.sln
AnnotationManager
AssetImportState
AssetServerCacheV3
BuildPlayer.prefs
BuildSettings.asset
EditorSettings.asset
EditorUserBuildSettings.asset
FailedAssetImports.txt
InspectorExpandedItems.asset
MonoManager.asset
ScriptAssemblies
ScriptMapper
assetDatabase3
cache
expandedItems
guidmapper
metadata
previews

*.com
*.class
*.o
*.so

*.log
*.sql
*.sqlite

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Client/Assets/NGUI/Examples/
Client/Assets/NGUI/Examples.meta
Client/.xml
